In [4]:
# Colab library to upload files to notebook
from google.colab import files
 
# Install Kaggle library
!pip install -q kaggle
 
#library numerical python utk scientific computing
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#untuk membuat daftar urutan file
import glob
import json
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [5]:
!mkdir .kaggle

In [6]:
uploaded=files.upload()

Saving kaggle.json to kaggle.json

In [7]:
!chmod 600 /content/.kaggle/kaggle.json

chmod: cannot access '/content/.kaggle/kaggle.json': No such file or directory

In [8]:
# Downlaod data kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json
!kaggle datasets download -d amananandrai/ag-news-classification-dataset

kaggle.json
Downloading ag-news-classification-dataset.zip to /content
 44% 5.00M/11.4M [00:00<00:00, 50.7MB/s]
100% 11.4M/11.4M [00:00<00:00, 72.9MB/s]

In [9]:
!unzip \*.zip

Archive:  ag-news-classification-dataset.zip
  inflating: test.csv
  inflating: train.csv

In [12]:
root_path = '/content'
train_path = f'{root_path}/train.csv'
train_data = pd.read_csv(train_path)

test_path = f'{root_path}/test.csv'
test_data = pd.read_csv(test_path)
train_data.head()

   Class Index  ...                                        Description
0            3  ...  Reuters - Short-sellers, Wall Street's dwindli...
1            3  ...  Reuters - Private investment firm Carlyle Grou...
2            3  ...  Reuters - Soaring crude prices plus worries\ab...
3            3  ...  Reuters - Authorities have halted oil export\f...
4            3  ...  AFP - Tearaway world oil prices, toppling reco...

[5 rows x 3 columns]

In [13]:
train_data['summary'] = train_data['Title'] + ' ' + train_data['Description']
test_data['summary'] = test_data['Title'] + ' ' + test_data['Description']

train_data = train_data.drop(columns=['Title', 'Description'])
test_data = test_data.drop(columns=['Title', 'Description'])

labels = {1:'World News', 2:'Sports News', 3:'Business News', 4:'Science-Technology News'}

train_data['label'] = train_data['Class Index'].map(labels)
test_data['label'] = test_data['Class Index'].map(labels)

In [14]:
train_data = train_data.drop(columns=['Class Index'])
test_data = test_data.drop(columns=['Class Index'])
train_data.head()

                                             summary          label
0  Wall St. Bears Claw Back Into the Black (Reute...  Business News
1  Carlyle Looks Toward Commercial Aerospace (Reu...  Business News
2  Oil and Economy Cloud Stocks' Outlook (Reuters...  Business News
3  Iraq Halts Oil Exports from Main Southern Pipe...  Business News
4  Oil prices soar to all-time record, posing new...  Business News

In [25]:
print(train_data.describe())
print(test_data.describe())

                                                  summary        label
count                                              120000       120000
unique                                             120000            4
top     Blazers win 11th straight over Magic Playing t...  Sports News
freq                                                    1        30000
                                                  summary                    label
count                                                7600                     7600
unique                                               7600                        4
top     This week in merger news This week saw three m...  Science-Technology News
freq                                                    1                     1900

In [18]:
test_data.describe()

                                                  summary                    label
count                                                7600                     7600
unique                                               7600                        4
top     This week in merger news This week saw three m...  Science-Technology News
freq                                                    1                     1900

In [22]:
print(train_data.info())
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   summary  120000 non-null  object
 1   label    120000 non-null  object
dtypes: object(2)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7600 entries, 0 to 7599
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   summary  7600 non-null   object
 1   label    7600 non-null   object
dtypes: object(2)
memory usage: 118.9+ KB
None

In [17]:
train_data.isna().sum()

summary    0
label      0
dtype: int64

In [19]:
test_data.isna().sum()

summary    0
label      0
dtype: int64