**Exploratory Data** **Analysis**

In [2]:
# Colab library to upload files to notebook
from google.colab import files
 
# Install Kaggle library
!pip install -q kaggle
 
#library numerical python utk scientific computing
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#untuk membuat daftar urutan file
import glob
import json
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [3]:
!mkdir .kaggle

mkdir: cannot create directory ‘.kaggle’: File exists

In [4]:
uploaded=files.upload()

Saving kaggle.json to kaggle (1).json

In [5]:
!chmod 600 /content/.kaggle/kaggle.json

chmod: cannot access '/content/.kaggle/kaggle.json': No such file or directory

In [8]:
# Downlaod data kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json
!kaggle datasets download -d amananandrai/ag-news-classification-dataset

kaggle.json
Downloading ag-news-classification-dataset.zip to /content
 44% 5.00M/11.4M [00:00<00:00, 50.7MB/s]
100% 11.4M/11.4M [00:00<00:00, 72.9MB/s]

In [6]:
!unzip \*.zip

Archive:  ag-news-classification-dataset.zip
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: test.csv
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: train.csv

In [8]:
root_path = '/content'
train_path = f'{root_path}/train.csv'
train_data = pd.read_csv(train_path)

test_path = f'{root_path}/test.csv'
test_data = pd.read_csv(test_path)
train_data.head()

   Class Index  ...                                        Description
0            3  ...  Reuters - Short-sellers, Wall Street's dwindli...
1            3  ...  Reuters - Private investment firm Carlyle Grou...
2            3  ...  Reuters - Soaring crude prices plus worries\ab...
3            3  ...  Reuters - Authorities have halted oil export\f...
4            3  ...  AFP - Tearaway world oil prices, toppling reco...

[5 rows x 3 columns]

In [9]:
train_data['summary'] = train_data['Title'] + ' ' + train_data['Description']
test_data['summary'] = test_data['Title'] + ' ' + test_data['Description']

train_data = train_data.drop(columns=['Title', 'Description'])
test_data = test_data.drop(columns=['Title', 'Description'])

labels = {1:'World News', 2:'Sports News', 3:'Business News', 4:'Science-Technology News'}

train_data['label'] = train_data['Class Index'].map(labels)
test_data['label'] = test_data['Class Index'].map(labels)

In [10]:
train_data = train_data.drop(columns=['Class Index'])
test_data = test_data.drop(columns=['Class Index'])
train_data.head()

                                             summary          label
0  Wall St. Bears Claw Back Into the Black (Reute...  Business News
1  Carlyle Looks Toward Commercial Aerospace (Reu...  Business News
2  Oil and Economy Cloud Stocks' Outlook (Reuters...  Business News
3  Iraq Halts Oil Exports from Main Southern Pipe...  Business News
4  Oil prices soar to all-time record, posing new...  Business News

In [11]:
print(train_data.describe())
print(test_data.describe())

                                                  summary       label
count                                              120000      120000
unique                                             120000           4
top     US, El Salvador meet The next five days presen...  World News
freq                                                    1       30000
                                                  summary       label
count                                                7600        7600
unique                                               7600           4
top     North Korea-watchers ponder significance of Ki...  World News
freq                                                    1        1900

In [12]:
test_data.describe()

                                                  summary       label
count                                                7600        7600
unique                                               7600           4
top     North Korea-watchers ponder significance of Ki...  World News
freq                                                    1        1900

In [22]:
print(train_data.info())
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   summary  120000 non-null  object
 1   label    120000 non-null  object
dtypes: object(2)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7600 entries, 0 to 7599
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   summary  7600 non-null   object
 1   label    7600 non-null   object
dtypes: object(2)
memory usage: 118.9+ KB
None

In [17]:
train_data.isna().sum()

summary    0
label      0
dtype: int64

In [19]:
test_data.isna().sum()

summary    0
label      0
dtype: int64

**Data Preprocessing**

1. Case Folding

In [13]:
import numpy as np 
import pandas as pd 

train_data['summary'] = train_data['summary'].str.lower()
train_data['label'] = train_data['label'].str.lower()

test_data['summary'] = test_data['summary'].str.lower()
test_data['label'] = test_data['label'].str.lower()

In [14]:
print(train_data)
print(test_data)

                                                  summary          label
0       wall st. bears claw back into the black (reute...  business news
1       carlyle looks toward commercial aerospace (reu...  business news
2       oil and economy cloud stocks' outlook (reuters...  business news
3       iraq halts oil exports from main southern pipe...  business news
4       oil prices soar to all-time record, posing new...  business news
...                                                   ...            ...
119995  pakistan's musharraf says won't quit as army c...     world news
119996  renteria signing a top-shelf deal red sox gene...    sports news
119997  saban not going to dolphins yet the miami dolp...    sports news
119998  today's nfl games pittsburgh at ny giants time...    sports news
119999  nets get carter from raptors indianapolis -- a...    sports news

[120000 rows x 2 columns]
                                                summary                    label
0     fears for t n pension after talks unions repre...            business news
1     the race is on: second private team sets launc...  science-technology news
2     ky. company wins grant to study peptides (ap) ...  science-technology news
3     prediction unit helps forecast wildfires (ap) ...  science-technology news
4     calif. aims to limit farm-related smog (ap) ap...  science-technology news
...                                                 ...                      ...
7595  around the world ukrainian presidential candid...               world news
7596  void is filled with clement with the supply of...              sports news
7597  martinez leaves bitter like roger clemens did ...              sports news
7598  5 of arthritis patients in singapore take bext...            business news
7599  ebay gets into rentals ebay plans to buy the a...            business news

[7600 rows x 2 columns]

2. Tokenizing

In [20]:
import nltk
train_summary = train_data['summary']
test_summary = test_data['summary']

In [21]:
from nltk.tokenize import word_tokenize

train_summary = train_summary.apply(word_tokenize)
test_summary = test_summary.apply(word_tokenize)
train_summary.head()

0    [wall, st., bears, claw, back, into, the, blac...
1    [carlyle, looks, toward, commercial, aerospace...
2    [oil, and, economy, cloud, stocks, ', outlook,...
3    [iraq, halts, oil, exports, from, main, southe...
4    [oil, prices, soar, to, all-time, record, ,, p...
Name: summary, dtype: object

In [22]:
 train_data['summary'] = train_summary
 test_data['summary'] = test_summary

In [23]:
train_data

                                                  summary          label
0       [wall, st., bears, claw, back, into, the, blac...  business news
1       [carlyle, looks, toward, commercial, aerospace...  business news
2       [oil, and, economy, cloud, stocks, ', outlook,...  business news
3       [iraq, halts, oil, exports, from, main, southe...  business news
4       [oil, prices, soar, to, all-time, record, ,, p...  business news
...                                                   ...            ...
119995  [pakistan, 's, musharraf, says, wo, n't, quit,...     world news
119996  [renteria, signing, a, top-shelf, deal, red, s...    sports news
119997  [saban, not, going, to, dolphins, yet, the, mi...    sports news
119998  [today, 's, nfl, games, pittsburgh, at, ny, gi...    sports news
119999  [nets, get, carter, from, raptors, indianapoli...    sports news

[120000 rows x 2 columns]